In [40]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

data = pd.read_excel("data/Rating.xlsx")

In [41]:
df = pd.DataFrame(data)

df_pivotada = df.pivot_table(index='Nome', columns='Filme', values='Rating', fill_value=0)

df_pivotada.head()

Filme,Avatar,Forest Gump,Gladiator,Inception,Interstellar,Matrix,O Poderoso Chefão,O Senhor dos Anéis,O Silêncio dos Inocentes,Pulp Fiction,Star Wars,The Dark Knight,The Godfather Part II,The Shawshank Redemption,Titanic
Nome,,,,,,,,,,,,,,,
Ana,3.0,3.0,2.0,0.0,2.0,1.0,0.0,3.0,5.0,5.0,4.0,4.0,0.0,2.0,3.0
Bruno,3.0,0.0,5.0,4.0,2.0,3.0,2.0,4.0,2.0,5.0,2.0,3.0,1.0,4.0,5.0
Carla,3.0,5.0,5.0,3.0,4.0,4.0,1.0,1.0,0.0,0.0,3.0,2.0,3.0,3.0,5.0
David,3.0,4.0,4.0,1.0,3.0,3.0,4.0,3.0,3.0,2.0,3.0,3.0,5.0,0.0,5.0
Eliana,3.0,2.0,3.0,3.0,0.0,2.0,5.0,3.0,3.0,4.0,4.0,0.0,4.0,3.0,4.0

In [42]:
matriz_similaridade = cosine_similarity(df_pivotada)
df_similaridade = pd.DataFrame(matriz_similaridade, index=df_pivotada.index, columns=df_pivotada.index)
df_similaridade.head(8)

Nome,Ana,Bruno,Carla,David,Eliana,Fernando,Gabriela,Hector,Irene,João
Nome,,,,,,,,,,
Ana,1.000000,0.784267,0.625573,0.752720,0.718120,0.753641,0.746294,0.904422,0.665853,0.796385
Bruno,0.784267,1.000000,0.763370,0.774778,0.843836,0.827683,0.879226,0.864526,0.705249,0.782995
Carla,0.625573,0.763370,1.000000,0.852112,0.725105,0.741132,0.653900,0.783356,0.731307,0.791681
David,0.752720,0.774778,0.852112,1.000000,0.859006,0.856952,0.706747,0.769146,0.804938,0.889198
Eliana,0.718120,0.843836,0.725105,0.859006,1.000000,0.937818,0.767250,0.760215,0.824791,0.816629
Fernando,0.753641,0.827683,0.741132,0.856952,0.937818,1.000000,0.850788,0.818863,0.862045,0.871363
Gabriela,0.746294,0.879226,0.653900,0.706747,0.767250,0.850788,1.000000,0.844327,0.747075,0.815374
Hector,0.904422,0.864526,0.783356,0.769146,0.760215,0.818863,0.844327,1.000000,0.798420,0.865643